
     .App {
       display: flex;
       align-items: center;  
       justify-content: center;
       font-size: 18px;
       line-height: 1;
    

     }
 
   .name,
   .email,
   .fone,
   .field,
   .letter{
     background-color: #fff;
     padding: 8px 30% 36px 38px;
      margin: 1rem;
     border-radius: 10px;
    width: 50rem;
 
   }

   

   .intern__heading{
      text-align: center;
      justify-content: center;
      font-size: 13px;
      line-height: 1;
   }

  img{
    height: 100px;
  }
 
  input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  .field input {
    margin: 8px 20px 8px 0;
  }
 
  .cover{
    width: 57%;
     resize: none;
     overflow: hidden;
     outline: none;
     border-left: hidden;
     border-top: hidden;
     border-right:hidden;
       
  }
  .pro {
    display: flex;
    background-color: #1E2F97;
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 1.5rem;
    width: 50rem;
    align-items: center;
    justify-content: center;
    margin-left: 17.5rem;

  }

  .pan{
     border-radius: 10px;
     margin-top: 20px;
     padding: 1.5rem;
     width: 50rem;
     align-items: center;
     justify-content: center;
     margin-left: 17.5rem;
     background-color: #fff;
  }

  .Input {
    outline: none;
    border-left: hidden;
    border-top: hidden;
    border-right: hidden;
    font-size: 1rem;
    background: none;
    border-bottom: 0.1px solid gray;


  }
  .Input:focus,
  .cover:focus,

  .Input:active {
    border-bottom: 2px solid #1B7C6B;
    transition: 0.1s ease-in;
  }

  .span {
    color: red;
    font-size: 22px;
  }
  

  input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #1B7C6B;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
  }
  
  .btn {
   
    display: flex;
    justify-content: space-between;
    padding:  0 22px;
 

  }
  .reset {
    color: #1B7C6B;
    font-size: 18px;
    outline: none;
    border: none;
    background: none;

  }
  .submit {
    color: #FFFFFF;
    background-color: #1B7C6B;
    border-radius: 15px;
    height: 50px;
    font-size: 18px;
    border: none;
    padding: 8px 38px;


  }
  @media screen and (width: 390px)
  {
    .col{
      width: 50%;
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: 540px) {
      .pro {
       margin-left: 1rem;
       width: 96%;
       display: flex;
     }
     .pan{
      margin-left: 1rem;
      width: 100%;
     }  

    
  }
  @media  screen and (max-width: 600px) {
    
       img {
         height: 50px;
       }
       
      .field{
        padding-right: 2rem;
      }
      
      .pro {
         margin-left: 1rem;
         width: 99%;
         display: flex;
      }

      .pan{
         margin-left: 1rem;
         width: 99%;
      }
      .letter{
        padding-top: 32px;
        padding-left: 14px;
      }
       
       .btn {
       display: grid;
       grid-template-columns: 15% 35%;
       font-size: 14px;

    
       }
       
       .name,
       .email,
       .fone,
       .field,
       .letter{
        width: 100%;
       }
       
       .submit{
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
        padding: 4px 8px;
       }
     
  }

   @media screen and(max-width: 640px) {
     .pro {
       width: 100%;
       display: flex;
       margin-left: 2rem;

     }
     .pan{
         width: 100%;
         margin-left: 2rem;
     }
   }
 
    @media screen and(max-width:720px) {
      .pro {
        width: 100%;
        display: flex;
        margin-left: 2rem;

      }
      .pan{
         width: 50%;
         margin-left: 2rem;
      }
    }
    
   
  @media screen and(max-width:992px ){
  .pro {
   
    width: 90%;
    display: flex;
    margin-left: 2rem;
    
  }
  
  }
   @media screen and(max-width:1280px) {
     .pro {
       width: 100%;
       display: flex;
       margin-left: 2rem;

     }
     .pan{
        width: 100%;
        margin-right: 2rem;
     }
   }
 